// Media query for smartphones
@mixin phone {
   @media screen and (max-width: 576px) {
       @content;
   }
}

* {
	box-sizing: border-box;
}

html, body {
	width: 100vw;
	font-family: "Helvetica Neue";
	background: #0a3761;
	button {
		cursor: pointer;
		transition: color 300ms, background 300ms, border 300ms;
		&:focus {
			outline: none;
		}
	}
}

#root {
	width: 100%;
	height: 100%;
	.main-container {
		height: 100%;
		color: #ffffff;
		display: flex;
		align-items: center;
		flex-direction: column;
		@include phone {
			margin: 1em 2em 2em 2em;
		}
		&__button-container {
			top: 0;
			position: sticky;
			background: #0a3761;
			width: 100vw;
			display: flex;
			justify-content: center;
			&:after {
				content: '';
				position: absolute;
				z-index: 1;
				bottom: -20px;
				left: 0;
				width: 100%;
				height: 40px;
				background: linear-gradient(to top, rgba(10, 55, 97, 0) 5%, rgba(10, 55, 97, 1) 50%);
				pointer-events: none;
			}
			button {
				width: 250px;
				height: 80px;
				background: #f60;
				color: #ffffff;
				border: 1px solid transparent;
				font-size: 1.5em;
				padding: 1em;
				margin: 1em;
				&:hover {
					color: #f60;
					border: 1px solid #f60;
					background: transparent;
					@include phone {
						color: #ffffff;
						background: #f60;
						border: 1px solid transparent;
					}
				}
			}
		}
		&__jokelist-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			&__joke-container{
				background: rgba(160,189,218,0.3);
				padding: 2em;
				animation: 500ms ease-out 0s 1 fadeIn;
				width: 400px;
				margin: 1em;
				@include phone {
					width: 100%;
					margin: 1em 0 1em 0;
				}
				&__id-container {
					font-size: .5em;
				}
				&__setup-container {
					//padding-bottom: 1em;
				}
				//&__funniness-container__funniness-button--plus
				&__funniness-container {
					&__funniness-button {
						color: #ffffff;	
						border: 1px solid transparent;
						margin: 0 .5em .5em 0;
						font-weight: 900;
						font-size: 1em;
						width: 30px;
						height: 30px;
						&--plus {
							background: #38bf84;
							&:hover {
								background: transparent;
								border: 1px solid #38bf84;
								color: #38bf84;
							}
						}
						&--minus {
							background: rgb(229, 36, 33);
							&:hover {
								background: transparent;
								border: 1px solid rgb(229, 36, 33);
								color: rgb(229, 36, 33);
							}
						}
					}
					&__funniness {
						opacity: .8;
					}
				}
			}
		}
	}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

